* { box-sizing: border-box; margin: 0; padding: 0; border: 0; }
html {
    height: 100%;
    overflow: hidden;
} 
body {
    padding: 0px;
    margin: 0px;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: "Luna";
}
.hidden {
    display: none;
}
.sub-menu-bar {
    transform: rotate(-90deg);
    font-size: 32px;
    margin: auto;
    list-style-type: none;
}
.sub-menu-bar a {
    color: #fff;
    font-size: 42px;
}
.sub-menu-bar li {
    padding: 50px 30px;
}
#main-menu {
    height: 75px;
    z-index: 9;
}
#sub-menu {
    background: #000;
    z-index: 2;
}
section{
    padding: 50px 80px;
    font-size: 18px;
    text-align: center;
}
section h1{
    font-size: 24px;
}
.dark{
    background-color: #111;
    color: #f1f1f1;
}
.heading{
    font-size: 29px;
    position: absolute;
    top: 50%;
    width: 100%;
    color: #f30808;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #666;
    text-align: center;
    font-weight: normal;
    letter-spacing: 0.2em;
    margin: 0px;
    padding: 1em 0;
}
nav {
    position: absolute;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.menu-bar{
    padding: 15px 30px;
    width: 100%;
    list-style-type: none;
    font-size: 24px;
}
.logo a{
    text-decoration: none;
    color: #fff;
}
.menu-icon a{
    text-decoration: none;
    color: #fff;
}
.wrapper1 { 
    background-image: url("../img/img1.jpg"); 
    min-height: 500px;  
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100vh;
}
.wrapper2 { 
    background-image: url("../img/img2.jpg"); 
    min-height: 500px;  
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 60vh;
}
.wrapper3 { 
    background-image: url("../img/img3.jpg"); 
    min-height: 500px;  
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 40vh; 
}
.wrapper4 { 
    background-image: url("../img/img4.jpg"); 
    min-height: 500px;  
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 40vh;
}
.wrapper5 { 
    background-image: url("../img/img5.jpg"); 
    min-height: 500px;  
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 30vh;
}